#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  position: relative;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 1.2;
  color: rgb(68, 64, 60);
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
.text-yellow {
  color: rgb(234 179 8);
}

.content {
  text-align: center;
}

.title {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.sub-title {
  margin-bottom: 30px;
}
